.lista-de-notas {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px;
  margin: 0;
  overflow: hidden;
  overflow-y: auto;
  box-sizing: border-box;
}

.lista-de-notas_item {
  list-style: none;
  margin: 10px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.3);
}
